@include breakpoint(large up) {
    body {    
        font-size: 1.25 * $global-font-size;
    }
    
    #user-bar {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 2.25rem;
    }
    
    header {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: xy-cell-size(2);    
    }
    
    body.denominations.vertical-menu footer,
    body.locations.vertical-menu footer {
      background-color: $body-background;
    }
    
    #content,
    body:not(.browse) #content,
    footer,
    body:not(.browse) footer {
      padding-left: calc(#{xy-cell-size(2)} + #{$global-padding});
      margin-left: 0 !important; 
      width: auto !important;
    }
    
    body.vertical-menu #content {
      min-height: 80vh;
    }
    
    body.home #content,
    body.denominations #content,
    body.locations #content,
    body.item.browse:not(.item-set) #content,
    body.denominations footer,
    body.locations footer,
    body.item.browse:not(.item-set) footer {
      padding-left: calc(#{xy-cell-size(5)} + #{$global-margin});
    }
    
    
    #content-start {
      height: 0;
      overflow: hidden;
      box-sizing: content-box;
      padding: 0;
      display: inline-block;
      position: absolute;
      
      &:focus {
        height: auto;
        padding: .25 * $global-padding;
        box-sizing: border-box;
        position: static;
      }
    }
    
    .page #content-start,
    .browse #content-start {
      position: absolute;
      top: 0;
      left: calc(#{xy-cell-size(2)} + #{$global-margin});
      z-index: 1000;
    }
    
    body.user-bar #content {
      margin-top: 1.5rem;
    }
    
    #home-intro {
      width: xy-cell-size(3) !important;
      background-color: $body-background;
      position: absolute;
      top: (-1 * $global-margin);
      left: xy-cell-size(2);
      bottom: 0;
      z-index:0;
      padding: $global-padding;
      font-size: .875 * $global-font-size;
    }
    
    #content-start:focus ~ #blocks #home-intro {
      top: $global-margin;
    }
    
    body.home #blocks {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    
    body.home #blocks > div:not(#home-intro) {
      margin-bottom: $global-margin;
      width: calc(50% - #{.5 * $global-margin});
      
      &:nth-child(6) {
        width: 100%;
        max-height: 12rem;
      }
    }

    body.home #content {
      padding-left: calc(#{xy-cell-size(5)} + #{$global-margin}) !important;
    }
    
    .mare-totals {
      padding-left: 25%;
    }
    
    .are-filters.button {
      display: none;
    }
    
    .off-canvas-content.has-reveal-right {
      margin-right: 0;
    }
    
    #are-filters {
      @include xy-cell(3, $gutters: 0);
      position: fixed;
      top: 0;
      left: xy-cell-size(2);
      bottom: 0;
      z-index:0;
      padding: (1.25 * $global-padding) $global-padding;
      overflow-y: scroll;  
    }

    #content-start:focus ~ #blocks #are-filters,
    #content-start:focus ~ #are-filters {
      padding-top: 2.75 * $global-padding;
    }
  
    .browse #content > h2:first-of-type {
      float: none;
    }

    .browse .resource-list .item.resource .resource-meta {
      display: flex;
      justify-content: flex-start;
    }
    
    .browse .resource-list p {
      margin: 0 0 0 (.5 * $global-margin);
    }
  
    #user-bar ~ header,
    #user-bar ~ #content #are-filters {
      top: 2.25rem;
    }

    .are-family:not(:last-child) {
      border-bottom: 1px solid $medium-gray;
    }

    body.locations .property h4,
    body.denominations .property h4 {
      @include xy-cell(4);
      text-transform: none;
      font-family: $body-font-family;
    }
    
    body.locations .property .values,
    body.denominations .property .values {
      @include xy-cell(8);
    }

    .linked-header .omeka-pagination,
    .linked-footer .omeka-pagination {
      width: 50%;
      justify-content: flex-end;
      margin-left: auto;
    }
    
    .schedule-list .omeka-pagination {
      width: auto;
    }
    
    .browse-controls {
      padding: 0 $global-padding;
    }
    
    .browse-controls .omeka-pagination,
    .browse-controls .sorting {
      max-width: 40%;
      width: auto;
      margin: 0;
    }
    
    .browse-controls .advanced-search {
      width: auto;
    }
    
    .browse-controls .icon-key {
      margin: $global-margin 0 (-.5 * $global-margin);
    }
    
    .schedule-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .omeka-pagination .button-group {
        flex-grow: 0;
    }
    
    .blocks {
        margin: 0 $global-margin;
    }
    
    .leaflet-popup-content ul {
      list-style: none;
      padding-left: 0;
      margin-left: 0;
    }
    
    .leaflet-popup-content li {  
      border-bottom: 1px solid $gray;
      padding: .25 * $global-padding;
    }
    
    .leaflet-popup-content li:last-of-type {
      border-bottom-color: transparent;
    }
}