@charset 'utf-8';

@import 'globals-default';
@import 'globals-are';
@import 'settings';

// ARE Settings

$body-background: $gray;
$body-font-color: $black;
$body-font-family: 'Quattrocento Sans', sans-serif;
$header-font-family: 'Cormorant SC', serif;
$secondary-header-font-family: "Cormorant", serif;
$header-font-weight: 600;
$header-font-style: normal;

@import 'foundation-core';
@import 'omeka';
@import 'are-mobile';
@import 'are-desktop';
